<h1>Its beyblade</h1>
<p>Find me in app/views/welcome/beyblade.html.erb</p>

<%= "Message from controller :
#{@controller_message}" %>

<%= link_to("Go to Index", {
    :controller => 'welcome',
    :action => 'index',
    :id => 5, :random => "Fernando"})%>

<br/>
<%= link_to("Google Link",
            'https://www.google.com/',
            :target => "_blank")%>